@use 'animations';

@mixin styles {
  .tray-wrapper {
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding: 30px 8% 70px;
    @media (max-width: 1024px) {
      padding: 30px 60px 70px;
    }
    @media (max-width: 576px) {
      padding: 30px 40px 70px;
    }
    p {
      font: italic 18px/27px Montserrat;
      text-align: left;
      @media (max-width: 490px){
        font: italic 14px/21px Montserrat;
      }
    }
    h3 {
      font: bold 27px/36px Montserrat;
      @media (max-width: 768px){
        font: bold 24px/36px Montserrat;
      }
      @media (max-width: 490px){
        font: bold 16px/24px Montserrat;
      }
    }

    img {
      display: block;
      width: 50%;
      margin: 30px auto 40px;
      @media (max-width: 490px){
        margin: 15px auto 30px;
        width: 100%;
      }
    }

    .displayShowSmall button {
      display: none;
      @media (max-width: 490px){
        display: block;
      }
    }

    .card-carousel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      p {
        position: absolute;
        bottom: -43px;
        @media (max-width: 490px){
          bottom:-5px;
          display: contents;
        }
      }
      .numText {
        font: normal 18px/27px Montserrat;
        white-space: nowrap;
        bottom: -4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        @media (max-width: 490px) {
          font: bold 14px/27px Montserrat;
        }
      }

      .displayHiddenSmall {
        @media (max-width: 490px){
          display: none;
        }
      }
    }

    .noHover{
      pointer-events: none;
      opacity: 0.5;
    }

    .sorting-tfo-button {
      height: 55px;
      width: 55px;
      margin: 10px;
      background-color: #932784;
      border: solid 5px transparent;
      border-radius: 50%;
      background-repeat: no-repeat;
      cursor: pointer;

      &:hover {
        background-color: #7b0f6c;
        border: 2px solid #932784;
        box-shadow: 0 0 0 4px #bf7db7;
        cursor: pointer;
      }

      &:focus {
        outline: 2px;
        background-color: #7b0f6c;
        box-shadow: 0 0 0 4px #f8f8f8, 0 0 0 6px #932784;
      }

      @media (max-width: 801px){
        height: 45px;
        width: 45px;
      }
      @media (max-width: 490px){
        margin: 10px 40px;
      }
    }





    .previous-button {
      background-image: url("../../img/sorting/prevArrow.svg");
      background-position: center;
      &:hover,
      &:focus{
        background-image: url("../../img/sorting/prevArrow.svg");
        background-position: center;
      }
    }

    .next-button {
      background-image: url("../../img/sorting/nextArrow.svg");
      background-position: center;
      &:hover,
      &:focus{
        background-image: url("../../img/sorting/nextArrow.svg");
        background-position: center;
      }
    }
  }

  @include animations.styles;
}