
@use 'tray';
@use 'category';
@use 'card';

.sorting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  border-radius: 20px;
  min-height: 450px;
  
  @media (min-width: 640px) {
    justify-content: space-between;
    }

  .skipLine {
    width: 100%;
    position: relative;
  }

  .invisible {
    background-color: rgba(125, 24, 99, 0.5) !important;
    color: #ccc !important;
    pointer-events: none;
  }

  .hidden {
    display: none;
  }

  .validation {
    width: 28px;
    height: 28px;
  }

  // Copied from tvo_k8.css, in order to make
  // our codebase stand-alone and not dependant.
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .endgame-on {
    width: 100%;

    .arrow {
        width: 100%;
        padding-top: 20px;
    
        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-bottom: 20px solid var(--custom-color);
            margin-left: 8%;

            @media (max-width: 1024px) {
                margin-left: 65px;
            }
    
            @media (max-width: 576px) {
                margin-left: 40px;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-bottom: 15px solid var(--custom-color);
            }
        }
    
        .tfo-sorting-feedback {
            font-size: 2rem;
            line-height: 3rem;
            background: #FFFF;
            width: 100%;
            border-top: 20px solid #00bfdf;
            transition: 0.3s;
            // padding: 10px 6rem;
            padding: 0 8%;
        
            @media (max-width: 1024px) {
              padding: 0 65px;
            }
    
            @media (max-width: 576px) {
                padding: 0 40px;
                border-top: 15px solid #00bfdf;
            }
    
            .tfo-sorting-result-response {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 1rem;
                margin-top: 40px;  
                margin-bottom: 30px;  
                
                @media (max-width: 576px) {
                    margin-top: 30px; 
                    margin-bottom: 22px; 
                }
                
                .success-checkmark {
                    content: url("../../img/sorting/feedbackCorrect.svg");
                    margin: auto 0;
                    margin-right: 30px;
    
                    @media (max-width: 576px) {
                        content: url("../../img/sorting/feedbackCorrectSmaller.svg");
                        margin: auto 0;
                        margin-right: 22px;
                    }
                }

                .endgame-feedback {
                    color: #414042;
                    font-size: 27px;
                    font-style: inherit;
                    letter-spacing: 0;
                    line-height: 115%;
                    text-align: center;
                    z-index: 22;
                    font-weight: 600;
                    margin-bottom: 0;
                    @media (max-width: 1024px) {
                        font-size: 24px;
                    }
            
                    @media (max-width: 576px) {
                        font-size: 16px;
                    }
                }
    
                p {
                    font-size: 2rem;
                    margin-left: 1.5rem;
                    line-height: 3rem;
                    color: #414042;
                }
    
                img {
                    width: auto;
                    height: 50px;
    
                    @media (max-width: 430px) {
                        height: 40px;
                    }
                }
            }

            .endgame-feedback-message {
                color: #414042;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                @media (max-width: 576px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
}


  @include tray.styles;
  @include category.styles;
  @include card.styles;
}
