.answerBoard {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    background-color: $white;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.answerStore-items {
    display: flex;
    justify-content: center;

    .answerStore-numbers-parent {
        position: relative;

        .answerStore-numbers {
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            border: 4px solid $ship-gray;
            color: $ship-gray;
            border-radius: 50%;
            font-size: 28px;
            line-height: 42px;
            right: 20px;
            top: 0;
            bottom: 0;
            font-weight: bold;
            text-align: center;
            width: 46px;
            height: 46px;

            @media (max-width: 576px) {
                right: 10px;
                font-size: 20px;
                width: 40px;
                height: 40px;
                line-height: 32px;
            }
        }

        // Future to do: connect the lines to the numbers dynamically
        // .number-line-5-1:before,
        // .number-line-5-2:before,
        // .number-line-5-3:before,
        // .number-line-5-4:before,
        // .number-line-4-1:before,
        // .number-line-4-2:before,
        // .number-line-4-3:before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     z-index: 1;
        //     top: 100%;
        //     left: 45%;
        //     border: 4px solid $ship-gray;
        //     border-width: 0 0 0 4px;
        //     width: 1px;
        //     height: 70px;

        //     @media (max-width: 576px) {
        //         height: 62px;
        //     }

        //     @media (max-width: 430px) {
        //         height: 68px;
        //     }
        // }
    }
}
  
.answerBoard .answerStore {
    cursor: pointer;
    font-size: 18px;
    background-color: $gallery;
    border: 2px dashed $royal-health;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    text-align: left;
    padding-left: 35px;
    color: $ship-gray;

    @media (max-width: 600px) {
        font-size: 17px;
    }

    @media (max-width: 576px) {
        font-size: 14px;
    }

    &:hover {
        outline: none;
        box-shadow: 0 0 0 4px $viola;
    } 

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px $white, 0 0 0 6px $royal-health;
    }
}
  
.answerBoard .flowchart-card {
    padding: 6px 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    border: 4px solid transparent;
}

.hideAnswers-sequential {
    background-color: $gallery;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../img/flowchart/locked_icon.svg');
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    padding-left: 35px;
    border-radius: 20px;
}

.hideAnswers-sequential:hover, .hideAnswers-sequential:focus {
    outline: none;
    border: 1px solid transparent;
    cursor: default;
}