.hidden-card{
    pointer-events: none !important;
    border: 2px solid $gallery !important;

    @media (max-width: 576px) {
      width: 80% !important;
    }

    &:hover,
    &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
}

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px 10px;
    position: relative;
    width: 100%;
    padding-top: 15px !important;
    margin: auto;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    // Stack the cards vertically in mobile view
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      grid-template-columns: unset;
      align-items: center;
      gap: 10px 10px;
    }

    .flowchart-card {
      display: flex;
      justify-content: center; 
      padding: 6px 35px;  
      background-color: $white;
      color: $ship-gray;
      cursor: pointer;
      border: 2px solid $royal-health;
      border-radius: 20px;
      margin: 5px 10px;
      min-height: 80px;
      z-index: 5;
      position: relative;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      width: auto;
      align-items: flex-start;
      font-size: 18px;
      text-align: left;
  
      @media (max-width: 600px) {
        font-size: 17px;
      }
    
      @media (max-width: 576px) {
        width: 80%;
        font-size: 14px;
      }
  
      &:hover {
          outline: none;
          box-shadow: 0 0 0 4px $viola;
      } 
  
      &:focus {
          outline: none;
          box-shadow: 0 0 0 4px $white, 0 0 0 6px $royal-health;
      }
    }
  }
  
