@import url("https://p.typekit.net/p.css?s=1&k=rcr1opg&ht=tk&f=15493.24537.24539.24541.24543.24545.24547.24548.39106.39110.39115&a=3835293&app=typekit&e=css");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans&display=swap');

@font-face {
  font-family: "cubano";
  src: url("https://use.typekit.net/af/a171c7/00000000000000007735a084/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
    url("https://use.typekit.net/af/a171c7/00000000000000007735a084/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
    url("https://use.typekit.net/af/a171c7/00000000000000007735a084/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

// [data-theme="light"] {
//   //this is actual settings for dark mode
//   --background: #23272a;
//   --dark-bg: #0e0f10;
//   --text-primary: #b2becd;
//   --hover-primary: #fff;
//   --text-secondary: royalblue;
//   --accent: darkred;
//   --tooltip-text-color: #111;
//   --tooltip-background-color: #fff;
//   --tooltip-margin: 50px;
//   --tooltip-arrow-size: 6px;
//   --body-font : "Open Sans" , sans-serif;
//   --heading-font : "cubano", sans-serif;
// }

:root {
  --background: #ffffff;
  --text-primary: #212529;
  --dark-bg: #fffafa;
  --hover-primary: rgb(132, 132, 132);
  --xbackground: #b2becd;
  --xtext-primary: #ffffff;
  --text-secondary: royalblue;
  --accent: purple;
  --gray-1: #454e56;
  --tooltip-text-color: #b2becd;
  --tooltip-background-color: #23272a;
  --body-font : "Open Sans" , sans-serif;
  --heading-font : "cubano", sans-serif;
  --tooltip-margin: 50px;
  --tooltip-arrow-size: 6px;
  
}
.btn-bd-primary {
  font-weight: 600;
  background-color: #712cf9 !important;
  margin-right: 20px;
  color: #fff !important;
  &:hover{
    background-color: #6528e0 !important;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
  color: var(--text-primary) !important;
}

h1,h2,h3,h4,h5,h6, button, a{
font-family: var(--heading-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;

  .navbar {
    background-color: var(--dark-bg) !important;
    color: var(--text-primary) !important;
    .navbar-brand {
      color: var(--text-primary) !important;

      &:hover,
      &:active {
        color: var(--hover-primary) !important;
      }
    }

    .custom-link {
      padding-left: 0rem !important;
      padding-right: 2rem !important;
      color: var(--text-primary) !important;

      &:hover,
      &:active {
        color: var(--hover-primary) !important;
      }
    }

    .custom-link.nav-link svg {
      vertical-align: text-bottom;
    }

    #responsive-navbar-nav {
      justify-content: flex-end;
    }
  }

  .home {
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
  }

  .home-wrapper {
    /* background-color: #23272a; */
    height: 100vh;
  }

  h2.splitting {
    color: var(--text-primary);
    font-size: 3rem;
  }

  h2.splitting .char {
    animation: slide-in 0.7s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation-delay: calc(50ms * var(--char-index));
    animation-play-state: running;
  }

  @keyframes slide-in {
    from {
      transform: scale(0.4) translateY(80%);
      opacity: 0;
    }
  }

  #skills {
    background-color: var(--background);
    padding-left: 5px !important;
    @media (min-width: 575px) { 
      padding-left: 5px; 
      padding-right: 5px;
    }
    .progress{
      margin-top:5px;
      margin-bottom: 5px;
    }
  }

  .skills {
    margin-top: 30px;
    color: #a71552;
    gap: 1rem;
  }

  .skills svg {
    color: var(--text-primary);
    height: auto;
    padding: 0px;
    width: 4rem;
    margin: 10px;
  }

  /* Wrapping */
  .Tooltip-Wrapper {
    display: inline-block;
    position: relative;
    &:hover{
      cursor: pointer;
    }
  }

  /* Absolute positioning */
  .Tooltip-Tip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
  }

  /* CSS border triangles */
  .Tooltip-Tip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
  }

  /* Absolute positioning */
  .Tooltip-Tip.top {
    top: calc(var(--tooltip-margin) * -1);
  }

  /* CSS border triangles */
  .Tooltip-Tip.top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
  }

  /* Absolute positioning */
  .Tooltip-Tip.right {
    left: calc(100% + var(--tooltip-margin) - 35px);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }

  /* CSS border triangles */
  .Tooltip-Tip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
  }

  .skill-title {
    margin-bottom: 1rem;
  }

  .rounded-start {
    border-radius: 50%;
  }

  .card {
    background-color: var(--background);
    border: 0;
  }

  .card-body {
    padding-left: 0;
  }

  .floating-menu {
    position: fixed;
    left: 2vw;
    top: 50vh;
    list-style: none;
    padding-left: 0px;
    max-width: 5vw;
    transform: translateY(-50%);

    li {
      margin-bottom: 20px;
    }

    button {
      padding: 0.5rem;
      border-radius: 50px;
      color: var(--background);
      background-color: var(--text-primary);
      -webkit-appearance: none;
      border: none;

      &:hover {
        // transform: translateY(5px) ;
        transform: scale(1.1);
      }
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  #resume .rounded-start{
    @media (max-width: 767px) { 
    display: none
  }
}
  .title-container{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0;
  .active-btn{
    border-bottom: 5px solid var(--text-primary);
  }
  button{
    margin-right: 3rem;
    background-color: transparent;
    font-family: var(--heading-font);
    color: var(--text-primary);
    appearance: none;
    -webkit-appereance: none;
    border: 0;
    font-size: 20px;
    padding: 0.5rem 1rem;
  }
  }
 .college{
   padding: 20px;
   border: 2px solid var(--text-primary);
 }



}

.themeChange {
  cursor: pointer;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}


.main-card-wrapper {
  display: grid;
  grid-template-columns: minmax(150px, 300px) minmax(150px, 300px) minmax(150px, 300px);
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  .card {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 260px;
    height: 260px;
    border-radius: 23px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 5px 5px 15px rgb(25 32 71 / 25%);
    transition: 0.2s ease-in-out all, 0.3s ease-in-out box-shadow;
    background: white;
    &:hover {
      transition: 0.2s transform ease-in-out;
      transform: scale(1.015);
      .card-overlay, .card-header {
        transform: translateY(0);
    }
  }
}
.card-image {
  width: 100%;
  height: auto;
  position: relative;
}
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 5px;
  background-color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1.5em 2em;
    border-radius: 5px 0 0 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
    .card-title {
      font-size: 1em;
      margin: 0 0 0.3em;
      color: #192047;
      font-weight: bold;
  }
}
.card-readnow {
  padding: 0em 1em 1em 1em;
  margin: 0;
  overflow: hidden;
  float: right;
  font-size: small;
  color: #192047;
}

}

}
.comp-wrapper{
display: flex;
ul{
  padding-left: 1rem;
}
}
.component-space{
  flex: 3;
}
.component-btn{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
 
  li{
    button{
      background-color: transparent;
      border: 0;
      color: var(--text-primary);
      font-family: var(--heading-font);
      
    }
    .active{
      color: var(--text-primary);
      border-bottom: 2px solid var(--text-primary);
    }
  }
}
.flexing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2.5rem;
  .contact-card{
    height: auto;
    flex: 40% 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
    a{
      color:#084db4;
      &:hover{
color:#0d6efd;
      }
    }
  }

}


