@use "question";
@use "answer";
@use "fadeIn";

.multiple-choice-checkbox-container {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 350;
    color: #414041;
    line-height: 1.5rem;
  }

  width: 100%;
  background: #fff;
  border-radius: 10px;
  min-height: 450px;
  max-width: 100%;

  // global ILO styles
  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  a {
    width: 100% !important;
    border-radius: 0 !important;
  }

  // global ILO styles end

  //adding fade in animation to question component and results
  form {
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 500ms;

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  .question-num {
    background-color: #932784;
    color: #fff;
    padding: 40px 8%;

    .question-pill {
      border-radius: 20px 0 20px 0;
      height: 49px;
      margin: auto 0;
      width: auto;
      padding: 8px 20px;
      background-color: white;
      letter-spacing: 0px;
      text-align: center;

      // @media screen and (max-width: 1024px) {
      //   padding: 10px;
      // }

      @media screen and (max-width: 575px) {
        padding: 12px 15px;
        align-items: center;
      }

      img {
        vertical-align: middle;
        margin-right: 20px;
        // width: 50px;
        // height: 50px;

        @media screen and (max-width: 575px) {
          // width: 40px;
          // height: 40px;
          margin-right: 10px;
          width: 22px;
          height: 24px;
        }
      }

      span {
        vertical-align: middle;
        // margin: 0 auto;
        // padding-left: 20px;
        font-size: 28px;
        font-weight: 600;
        @media screen and (max-width: 575px) {
          font-size: 18px;
        }
      }
    }

    //In order to have the banner vertically align with rest of the content inside. Tablet left/right = 65; Mobile left/right = 40
    //As per design team, Requested to have top and bottom in mobile 30px;
    @media screen and (max-width: 1024px) {
      padding-left: 65px;
      padding-right: 65px
    }
    @media screen and (max-width: 575px) {
      padding: 30px 40px;
    }
  }
  
  button {
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    word-wrap: break-word;
    min-width: 200px;
    margin: 0.5em 0;
    border: none;
    border-radius: 35px;
    padding: 25px 30px;
    font-weight: bold;
    background-color: #932684;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;

    &:disabled {
      border: none;
      background-color: #D4A9CE;
      color: #ffffffcc;
      box-shadow: none;
      cursor: not-allowed;
    }

    &:hover:enabled {
      box-shadow: 0 0 0 3px #f8f8f8, 0 0 0 5px #932684;
    }

    @media screen and (max-width: 575px) {
      font-size: 12px;
      line-height: 18px;
      padding: 22px 30px;
      min-width: 140px;
    }
  }

  .options-container {
    padding: 2rem 1rem;
  }

  // Copied from tvo_k8.css, in order to make
  // our codebase stand-alone and not dependant.
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .action-btn {
    border-top: 6px solid white;
    border-bottom: 5px solid #932684;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 20px 8%;

    @media screen and (max-width: 1025px) {
      max-width: 100%;
      padding: 20px 65px;
    }

    @media screen and (max-width: 575px) {
      max-width: 100%;
      padding: 20px 40px;
    }

    .btn-prev,
    .btn-next {
      background-color: #414042;
      color: #fff;
      &:hover {
        background-color: #302D30;
        box-shadow: 0 0 0 4px #949494;
    }
      &:focus {
        background-color: #302D30;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #414042;
      }
      &:disabled {
        background-color: #9F9FA0; // more accessible color for disable buttons old: #949494
        color: rgba(255, 255, 255, 0.8);
        cursor: not-allowed;
        &:hover {
          box-shadow: none;
        }
      }
    }

    .current-slide {
      font-size: 18px;
      font-weight: bold;

      @media screen and (min-width: 1025px) {
        &::before {
          content: "Question ";
        }
      }
    }
  }

  .multiple-choice-wrapper {
    display: flex;
    flex-flow: row wrap;

    @media screen and (max-width: 1025px) {
      flex-flow: column wrap;
    }
  }

  @include question.styles;
  @include answer.styles;
  @include fadeIn.styles;
}