@mixin styles {
	.options-wrapper {
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
		padding: 40px 8% 40px 40px;
		background: #f8f8f8;

		@media (max-width: 1024px) {
			max-width: 100%;
			padding: 40px 65px;
		}

		@media (max-width: 575px) {
			max-width: 100%;
			padding: 30px 40px;
		}

		.answer-label {
			background: #ffffff;
			border-radius: 20px;
			display: flex;
			// align-items: center;
			justify-content: flex-start;
			text-align: left;
			width: 100%;
			padding: 25px 30px;
			margin: 10px 0;
			font-size: 18px;
			line-height: 27px;
			font-weight: 400;
			cursor: pointer;
			border: 2px solid #932684;
			transition: 0.3s;
			align-items: center;

			&:hover,
			&:focus-within {
				box-shadow: 0 0 0 4px #bf7db7;
			}

			@media (max-width: 768px) {
				margin-bottom: 5px;
				padding: 20px;
			}
		}

		.answer-label.selected {
			outline: 2px;
			box-shadow: 0 0 0 4px #f8f8f8, 0 0 0 6px #932684;
			.radio-button::before {
			box-shadow: inset 0px 0px 0px 4px #fff;
			background: #932684;
			border: 2px solid #932684;
		}
	}


		label[disabled] {
			cursor: not-allowed !important;
			box-shadow: none !important;

			&:hover {
				cursor: not-allowed !important;
				box-shadow: none;
			}
		}

		input.answer[type="radio"] {
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;

			&:focus {
				box-shadow: 0 0 0 4px #f8f8f8, 0 0 0 6px #932684;
			}
		}

		.radio-button {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #ffffff;
			position: relative;
		}

		.checkbox {
			width: 25px;
			height: 25px;
			border-radius: 0;
		}

		.radio-button::before {
			content: "";
			display: inline-block;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			background: #ffffff;
			transition: 0.3s;
			border: 2px solid #932684;
		}

		.answer:checked + .radio-button::before {
			box-shadow: inset 0px 0px 0px 4px #ffffff;
			background: #932684;
			border: 2px solid #932684;
		}

		.answer {
			&:checked {
				box-shadow: 0 0 0 2px #932684, inset 0 0 0 1px transparent;
			}

			&:focus {
				box-shadow: 0 0 0 3px #932684, inset 0 0 0 1px transparent;
			}
		}

		.answer-text {
			margin-left: 1.25rem;
			transition: 0.3s;
			font-size: 18px;
			line-height: 30px;

			@media (max-width: 575px) {
				font-size: 14px;
				line-height: 30px;
			}
		}

		.submit-btn {
			display: flex;
			justify-content: flex-end;
			margin-top: 1rem;

			button {
				margin: 0rem;

				@media (max-width: 575px) {
					margin-bottom: 0;
				}

				&:hover:enabled{
					background: #7B0F6C;
					box-shadow: 0 0 0 4px #bf7db7;
				}

				&:focus:enabled {
					background: #7B0F6C;
					box-shadow: 0 0 0 3px #f8f8f8, 0 0 0 5px #932684;
				}

				&:disabled {
					border: none;
					background-color: #D4A9CE !important;
					color: #ffffffcc !important;
					box-shadow: none;
					cursor: not-allowed;
				}
			}
		}


	}

	.arrow {
		width: 100%;
		margin-top: -20px;

		&::before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-right: 20px solid transparent;
			border-left: 20px solid transparent;
			border-bottom: 20px solid var(--custom-color);
			margin-left: 8%;

			@media screen and (max-width: 1024px) {
				border-right: 15px solid transparent;
				border-left: 15px solid transparent;
				border-bottom: 15px solid var(--custom-color);
				margin-left: 60px;
			}

			@media screen and (max-width: 575px) {
				border-right: 15px solid transparent;
				border-left: 15px solid transparent;
				border-bottom: 15px solid var(--custom-color);
				margin-left: 40px;
			}
		}

		.mc-feedback {
			font-size: 2rem;
			line-height: 3rem;
			padding: 40px 8%;
			background: #fff;
			width: 100%;
			border-top: 10px solid #00BFDF;
			transition: 0.3s;
			@media (max-width: 1024px) {
				padding: 40px 65px;
			}
			@media (max-width: 575px) {
				padding: 30px 40px;
				border-width: 15px !important;
			}

			.mc-result-response {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 30px;
				@media screen and (max-width: 575px) {
					margin-bottom: 22px;
				}
				img {
					@media screen and (max-width: 575px) {
						height: 40px;
						width: 40px;
					}
				}

				p {
					font-size: 27px; //desktop
					margin-left: 30px;
					line-height: 3rem;
					font-weight: 600;
					color: #414042;

					@media (max-width: 1024px) {
						font-size: 24px; //tablet
					}

					@media (max-width: 575px) {
						font-size: 16px; //mobile
						margin-left: 22px;
						line-height: 1.5rem;
					}
				}

			}

			.mc-res-text p {
				font-size: 18px;
				line-height: 27px;

				@media screen and (max-width: 575px) {
					font-size: 14px;
					line-height: 21px;
				}
			}
		}
	}

	.for-radio-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-30%, -30%);
		background: #111;
		width: 12px;
		height: 12px;
	}

	.feedback-wrapper {
		width: 29px;
		height: 29px;
		text-align: center;
		vertical-align: middle;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;

		img {
			width: 12.5px;
			height: 12.5px;
			vertical-align: middle;
		}
	}

	.btn-wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		.try-again-btn {
			display: flex;
			justify-content: flex-end;
			margin-top: 2rem;

			button {
				background: #932684;
				color: #fff;
				border-radius: 35px;

				&:hover,
				&:hover:enabled{
					background: #7B0F6C;
					box-shadow: 0 0 0 4px #bf7db7;
				}	
				&:focus:enabled {
					background: #7B0F6C;
					box-shadow: 0 0 0 3px #fff, 0 0 0 5px #932684;
				}

				&:disabled {
					border: none;
					background-color: #dbe1e3;
					color: #2d2d3e;
					box-shadow: none;
					cursor: not-allowed;
				}
			}

			.tryAgain {
				img {
					width: 20px;
					height: 20px;
					vertical-align: middle;
					max-width: 100%;
					margin-right: 15px;

					@media screen and (max-width: 575px) {
						width: 15px;
						height: 15px;
						margin-right: 11px;
					}
				}

				span {
					font-size: 15px;
					text-transform: uppercase;
					font-weight: 600;
					color: #fff;
					line-height: 15px;
					vertical-align: middle;

					@media screen and (max-width: 575px) {
						font-size: 12px;
						line-height: 12px;
					}
				}

			}
		}
	}
}