$background-fill: #f1f4f5;
$orange-fill: #FFE6B5;
$main-blue: #064C6A;
$hover-blue: #032B3D;
$white: #f8f9f9;
$gray: #dde3e6;
$dark-gray: #707070;

// ? Box Shadows Variables
$littleShadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;

$bigShadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
