@mixin animations {
  @keyframes matched-wrong-mc {
    0% {
      pointer-events: none;
      background-color: white;
      border: 2px solid #ED1556;
      transform: rotate(0deg);
    }

     5% { transform: rotate(-4deg); }
    10% { transform: rotate(4deg); }
    15% { transform: rotate(-4deg); }
    20% { transform: rotate(4deg); }
    25% { transform: rotate(0deg); }
  
  
    75% {
      pointer-events: none;
      background-color: white;
      border: 2px solid #ED1556;
    }

    99% {
      pointer-events: none;
      background-color: white;
      border: 2px solid #ED1556;
    }   
    // 0% {
    //   pointer-events: none;
    //   background-color: white;
    // }

    // 5% { transform: rotate(-4deg); }
    // 10% { transform: rotate(4deg); }
    // 15% { transform: rotate(-4deg); }
    // 20% { transform: rotate(4deg); }
    // 25% { transform: rotate(0deg); }
  
    // 50% {
    //   pointer-events: none;
    //   background-color: white;
    //   border: 2px solid #ED1556;
    // }

    // 99% {
    //   pointer-events: none;
    //   border: 2px solid #ED1556;
    // }    
  }
  // @keyframes incorrect-icon-matched {
  //   0% {
  //     visibility: hidden;
  //   }
  //   35% {
  //     visibility: hidden;
  //   }
  //   50% { visibility: visible; transform: scale(1.2); }
  //   58.33% { transform: scale(1.1); }
  //   66.66% { transform: scale(1); }
  //   75% { transform: scale(1.1); }
  //   83.33% { transform: scale(1.2); }
  //   91.66% { transform: scale(1.1); }
  //   99.99% { transform: scale(1);}
  // }
  @keyframes matched-disappearing-mc {
    0% {
      opacity: 1.0;
    }
    65% {
      opacity: 1.0;
    }
    80% {
      opacity: 0.0;
      outline: none;
      visibility: hidden;
    }
    100% {
      opacity: 0.0;
      outline: none;
      visibility: hidden;
    }
  }
  @keyframes matched-merging-mc {
    0% {
      background-color: white;
    }
    75% {
      background-color: white;
    }
    100% {
      position: relative;
      border: 2px solid #00BFDF;
      background-color: white;
    }
  }
}

@mixin styles {
  @include animations;
  $white: #ffffff;
  $grey: #ECECEC;
  $tfo_purple: #932784;
  $hover_outline: #BF7DB7;
  $hover_fill: #7B0F6C;
  $disabled_fill: #D4A9CE;
  $tfo_dark_purple: #3b144d;
  $tfo_black: #414042;
  .matching-tray {
    padding: 40px 65px;
    background: white;

    .question-container {
      h3 {
        margin-bottom: 30px;
      }
      .submit-description {
        margin-bottom: 20px;
        &.no-image-below{
          margin-bottom: 40px;
        }
      }
      .matching-image {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-height: 400px;
      }
    }
    @media (min-width: 1025px) {
      padding-left: 8%;
      padding-right: 8%;
      .question-container {
        h3 {
          font-size: 27px;
        }
        .submit-description {
          margin-bottom: 30px;
          &.no-image-below{
            margin-bottom: 40px;
          }
        }
      }
    }
    @media (max-width: 576px) {
      padding-left: 40px;
      padding-right: 40px;
      .question-container {
        h3 {
          margin-bottom: 22px;
        }
        .submit-description {
          margin-bottom: 15px;
          &.no-image-below{
            margin-bottom: 30px;
          }
        }
        .matching-image {
          margin-bottom: 30px;
        }
      }
    }

  }

  .matching-first-col,
  .matching-second-col {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card-wrapper {
      border-radius: 20px;
    }
    @media (min-width: 1025px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
  .matching-first-col {
    margin-bottom: 40px;
    gap: 20px;
    .card-wrapper {
      background: $grey;
    }
  }
  .matching-second-col {
    gap: 20px;
    .card-wrapper {
      .card-description {
        padding: 20px;
        padding-top: 40px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid $tfo_black;
        border-top: none;
        margin-top: -20px;
 
        span {
          font-size: 18px;
          line-height: 1.5em;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .matching-first-col {
      margin-bottom: 30px;
      gap: 15px;
    }
    .matching-second-col {
      gap: 15px;
      .card-wrapper {
        .card-description {
          padding: 22px;
          padding-top: 40px;
          span {
            font-size: 14px;
            line-height: 1.5em;
          }
        }
      }
    }
  }
  // Selected card
  .matching-first-col > .card-wrapper > .matching-card:hover,
  .matching-second-col > .card-wrapper > .matching-card:hover {
    outline: 2px;
    box-shadow: 0 0 0 4px $hover_outline;
  }

  // Selected card
  .matching-first-col > .card-wrapper > .selected,
  .matching-second-col > .card-wrapper > .selected {
    outline: 2px;
    border: 2px solid $tfo_purple;
    box-shadow: 0 0 0 2px $tfo_purple;
    &:hover {
      box-shadow: 0 0 0 2px $tfo_purple, 0 0 0 6px $hover_outline;
    }
    &:focus {
      box-shadow: 0 0 0 2px $tfo_purple, 0 0 0 5px white, 0 0 0 7px $tfo_purple;
    }
  }

  // .matching-first-col > .card-wrapper > .matching-card.disabled-effect {
  //   &:hover:not(.selected) {
  //     cursor: not-allowed;
  //     box-shadow: none;
  //   }
  // }

  // .matching-second-col > .card-wrapper > .matching-card.disabled-effect {
  //   outline: none;
  //   border: 2px dashed $hover_outline;
  //   &:hover {
  //     cursor: not-allowed;
  //     box-shadow: none;
  //   }
  // }

  // Invisible card to fill in the gap
  .matching-first-col > .card-wrapper > .matched-hidden,
  .matching-second-col > .card-wrapper > .matched-hidden {
    z-index:100;
    animation: matched-disappearing-mc 1000ms linear both;
    pointer-events: none;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .matching-first-col > .card-wrapper > .matching-card.matched-correct,
  .matching-second-col > .card-wrapper > .matching-card.matched-correct {
    animation: matched-merging-mc 1000ms linear both;
    pointer-events: none;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    justify-items: center;

    //* Remove focus on matched correct
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      outline: none !important;
      box-shadow: none !important;
    }

    span {
      margin: auto 0;
      width: 95%;
      float: left;
    }
    .correct-icon {
      background-color: #00BFDF;
      padding: 6px;
      margin: auto 0;
      border-radius: 5rem;
    }
    @media (max-width: 576px) {
      .correct-icon {
        padding: 3px;
      }
    }
  }

  // Cards in cooldown
  // Note: cooldown class does not get removed until next user event
  .matching-first-col > .card-wrapper > .matched-cooldown,
  .matching-second-col > .card-wrapper > .matched-cooldown {
    animation: matched-wrong-mc 2000ms ease-in-out both;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    justify-items: center;
    box-shadow: none;
    padding: 0px 10px 0px 20px;

    //* Remove focus on matched-cooldown time period
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    span {
      margin: auto 0;
      width: 95%;
      float: left;
    }
    .incorrect-icon {
      // animation: incorrect-icon-matched 4000ms ease-in-out both;
      background-color: #ED1556;
      padding: 6px;
      margin: auto 0;
      border-radius: 5rem;
      float: right;
    }
    @media (max-width: 576px) {
      .incorrect-icon {
        padding: 3px;
      }
    }
  }

  // Combined cards cannot be selected
  .matching-first-col > .card-wrapper > .combined,
  .matching-second-col > .card-wrapper > .combined {
    outline: none;
    pointer-events: none;
  }

}
